body{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

header{
    background-color: darkkhaki;
    padding: 20px;
    margin-left: -16px;
    margin-right: -16px;
}


h1{
    text-align: center;
    font-size: 48px;
}

.padding{
    padding: 40px;
}

.pappers h1{
    text-align: start;
}

.padding #Intro{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 70px;
}

.charges p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 20px;
}

label{
    font-size:20px;

}
input{
   border-radius: 5px;
   border: 2px black solid;
   margin-bottom: 15px;
   padding: 5px;
}
.form-center{
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 10px solid black;
    padding: 20px;
    background-color: white;
}

form{
    justify-content: center;
    position:relative;
}

.form-center .form-layout {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(28, 205, 146);
    border-radius: 15px;
    padding: 30px;
}

#btn{
    
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    position: relative;
    margin-top: -16px;
    margin-left: -16px;
    margin-right: -16px;
    
}

img{
    max-width:100%;
    max-height: 100%;
    object-fit:fill;
}

.container .Form-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(129, 194, 165);
    font-size: 16px;
    padding: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.container .Form-btn:hover{
    background-color: #FFFB7D;
    transition-delay: 300ms;
}

.sub-btn{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.padding #price{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;

}

.form-center .form-layout .form img{
    object-fit: contain;
    max-width: 50%;
    height: 50%;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn{
    background-color: darkgray;
    font-size: 2rem;
    margin-bottom: 10px;
    cursor: pointer;
}

#btn:hover{
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 5px 5px 0.5px grey;
    background-color: #FFFB7D;
}